*
{
    margin: 0;
    padding: 0;
}

.form1
{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: yellow;
    color: white;
    border: none;
    border-radius: 10px;
    width: 25%;
    
}

.hu
{
    margin-left: -15%;
}

.form1 button
{
    color: black;
}

.kiss
{
    margin-top: -2%;
}