*
{
    margin: 0;
    padding: 0;
}

.foot
{
    display: flex;
    align-items: center;
    margin-top: 8%;
    margin-left: 5%;
}

.foot h1
{
    margin-left: 3%;
}

.d1
{
    margin-left: 12%;
}

.d1 a 
{
    color: black;
    text-decoration: none;
    
}

.d2
{
    margin-left: 30%;
    margin-top: -13%;
}

.d2 a 
{
    text-decoration: none;
    color: black;
}

.d3
{
    margin-left: 50%;
    margin-top: -17%;
}

.d3 a 
{
    text-decoration: none;
    color: black;
    margin-left: 5%;
}

.d4
{
    text-decoration: none;
    margin-left: 75%;
    margin-top: -17%;
}

.d4 a
{
    text-decoration: none;
    color: black;
    margin-left: 8%;
}